body {
    font-family: "Concert One", sans-serif;
    color: #EDF4F2;
    padding: auto;
    background-color: #31473A;
}

h1 {
    text-align: center;
    background-color: #A7BEAE;
}

h2 {
    text-align: center;
}

main {
    padding: 60px;
}

ul {
    list-style-type: none;
}

select {
    font-size: 0.9rem;
    align-content: center;
    border: 1px solid transparent;
    background-color: #EDF4F2;
    color: #A7BEAE;
}

footer {
    text-align: center;
    color: EDF4F2;
    background-color: #a4bedc;
    padding: 1% 1%;
}

button{
    margin-bottom: 10px;
    display: inline-block;
}

.question {
    margin-bottom: 23px;
}